
*{
    margin: 0;
    padding: 0;
}
#container{
    width: 80%;
    margin: auto;
}
#content{
    display: flex;
}
.recent_links{
flex: 2;
color: grey;
align-items: stretch;
justify-content: space-between;

}

#content #most_viewed{
    flex:1;
    color: grey;
}

.recent_links article{
    margin-top:20px;
    display: flex;
    font-size: 15px;
    flex-grow: 2;
}
.recent_links p{
    text-transform: capitalize;
    color: black;
}
.recent_links h3{
    text-transform: capitalize;
    color: black;
}
article > div{
    padding: 0px 0px 0px 10px;
position: relative;
}
article{
    margin-bottom: 15px;
}
article time{
    color: blue;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    bottom: 0px;
    left: 10px;
    }
    article h3{
        font-family: 'Playfair Display', serif;
        text-transform: capitalize;
    }
    article p{
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .container_imgtxt {
       position: relative;
       text-align: left;
       margin: 20px;
    }
    .container_imgtxt .img-transbox{
        filter: brightness(50%);
    }
      
    .container_imgtxt img {
        position: relative;
        align-content: center;
          }
    
    .container_imgtxt .time_mostvisited{
        color:white;
        position: absolute;
        top:10px;
        left:10px;
    }
    .container_imgtxt .p_mostvisited{
        position: absolute;
        color: white;
        size: 40px;
        bottom: 10px;
        padding: 10px;
        text-transform: capitalize;

    }

